<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <!-- Left -->
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section  style="background-color:#00A8FF ;" class="">
      <div class="container text-center text-md-start mt-5" style="color: white;">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw- mb-4">
              <i class="fas fa-gem me-3"></i>ITIService
            </h6>
            <p>
            Una aplicacion enfocada hacia los alumnos para una gestion y consulta hacia 
            sus materias de manera cómoda e eficiente.  
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase  mb-4">
              Accede de manera rápida
            </h6>
            <p>
              <a href="#!" class="text-reset">Proyeccion de materias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Mapa gráfico</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Materias cursando</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Agregar materias</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Agregar materias por cursar</a>
            </p>

          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #0d6efd;">
      <p style="color: white;">© 2021 Copyright:
        ITIService</p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->