<br>
<div>
    <h3 style="text-align: center;"> Bienvenido</h3>
</div>

<div>
    <p style="text-align: center;"> Aquí podra administrar a alumnos inscritos o agregar nuevos
        que esten cursando la carrera de Ingeniería en Tecnologías de la Información</p>
</div>
<div class="row align-items-start">
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">Alumnos</h5>
            <p class="card-text">Acceda y consulte la lista de alumnos que están registrados dentro del sistema, podrá 
                observar el nombre, matricula y la carrera a la que esta inscrita.</p>
            <a  class="btn btn-primary ">Ver alumnos</a>
        </div>
    </div>
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">Agregar a un nuevo alumno</h5>
            <p class="card-text">Aqui podrá agregar a un nuevo alumno, añadiendo una matricula de acuerdo al ID
                que se ingreso anteriormente. RECUERDE, para añadir un nuevo alumno debe estar registrado previamente.
            </p>
            <a class="btn btn-primary" (click)="AgregarAlumnobtn()">Añadir alumno</a>
        </div>
    </div>
</div>
<div class="row align-items-start">
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">Analisis de materias aprobadas</h5>
            <p class="card-text">Podra analizar de manera general que materias han sido aprobadas
                por los alumnos registrados.
            </p>
            <a  class="btn btn-primary">Ver materias aprobadas</a>
        </div>
    </div>
    <div class="card col-sm">
        <div class="card-body">
            <h5 class="card-title">Analisis de materias reprobadas</h5>
            <p class="card-text">Podra analizar de manera general que materias han sido reprobadas
                por los alumnos registrados.
            </p>
            <a  class="btn btn-primary">Ver materias reprobadas</a>
        </div>
    </div>
</div>