<div class="container-sm">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/imagenes/ciencias.jpg" class="d-block  " alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/imagenes/primera.jpg" class="d-block " alt="...">
      </div>
    </div>
  </div>
</div>
<div class="row align-items-start">
  <div class="col-xl">
    <button type="button" class="btn btn-primary m-4 p-2"> <img src="/assets/imagenes/add1.png" width="56px" alt="">
      Agregar materias cursando</button>
  </div>
  <div class="col-xl">
    <button type="button" class="btn btn-primary m-4 p-2"> <img src="/assets/imagenes/add2.png" width="56px" alt="">
      Actualizar progreso de materias</button>
  </div>
  <div class="col-xl">
    <button type="button" class="btn btn-primary m-4 p-2"> <img src="/assets/imagenes/add3.png" width="56px" alt="">
      Agregar materias por cursar </button>
  </div>
</div>
<div class="container-sm">
  <div class="row align-items-start">
    <div class="col-xl">
      <button type="button" class="btn btn-primary m-4 p-2"> <img src="/assets/imagenes/proyeccion.png" width="60px"
          alt=""> Proyección de materias</button>
    </div>
    <div class="col-xl">
      <button type="button" class="btn btn-primary m-4 p-2 " (click)="MapaGrafico()" > <img src="/assets/imagenes/iconomapa.png" width="60px"
          alt=""> ㅤㅤMapa gráfico ㅤㅤㅤ</button>
    </div>
    <div class="col-xl">
      <button type="button" class="btn btn-primary m-4 p-2 "> <img src="/assets/imagenes/materias.png" width="60px" 
        alt=""> ㅤㅤㅤㅤMaterias ㅤㅤ </button>
    </div>
  </div>
</div>
<div class="row align-items-start container-fluid">
  <div class="card col-3 m-4">
    <img src="/assets/imagenes/facultad.jpg" alt="Facultad de Ciencias de la Computacion">
      <div class="card-body">
          <h5 class="card-title">Facultad de Ciencias de la Computacion</h5>
          <p class="card-text">Dentro de la pagina de la facultad podrás consultar la que ofrece cada carrera que interese,
            además podras conocer diferentes aspectos que tiene esta facultad para ti.</p>
          <a href="https://www.cs.buap.mx/index.php" class="btn btn-primary">Ir</a>
      </div>
  </div>
  <div class="card col-lg m-4">
    <img src="/assets/imagenes/secretaria.png" alt="Secretaria Academica">
      <div class="card-body">
          <h5 class="card-title">Secretaria Academica</h5>
          <p class="card-text">Dentro de secretaria academica podra consultar diferentes servicios escolares, asi 
            tambien como consultar las diferentes carreras que ofrece la Facultad de Ciencias de la Computación.
          </p>
          <a  href="https://secreacademica.cs.buap.mx" class="btn btn-primary">Ir</a>
      </div>
  </div>
  <div class="card col-3 m-4">
    <img src="/assets/imagenes/buap.jpg" alt="Pagina Oficial BUAP">
    <div class="card-body">
        <h5 class="card-title">Página Oficial BUAP</h5>
        <p class="card-text"> La página oficial de la BUAP.Conoceras a una de las 
          universidades catalogadas con diferentes universidades internacionales, asi tambien como sus servcios que 
          otorga, consulta todas las carreras que ofrece en
          cada facultad.
        </p>
        <a href="https://www.buap.mx" class="btn btn-primary">Ir</a>
    </div>
</div>
</div>
