<div class="container" style="background: url('assets/imagenes/buap-fcc.jpg') no-repeat left center; background-size: cover; opacity: 0.9;">
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <p></p>
    </div>
    <div class="row">
        <h1 class="text-center display-1 text-light">Bienvenidos</h1>
    </div>
    <div class="row">
        <div class="col-sm" >
        </div>
        <div class="col-sm border border-2 rounded-3 border-light bg-primary" >
            <app-form-login></app-form-login>
        </div>
        <div class="col-sm" >
        </div>
    </div>  
</div>