<h1 align="center"><br>Proyección de Materias</h1>
<div class="container-fluid">
  <h3 align="center">
    Matricula: {{Matricula.matricula}}
  </h3>
</div>
<div class="container-fluid">
  <div class="table-responsive m-4">

    <table class="table">


      <tr>
        <td><strong>Codigo</strong></td>
        <td><strong>Nombre</strong></td>
        <td><strong>Creditos</strong></td>
        <td><strong>Horas</strong></td>
      </tr>

      <tr>
        <td>CSS</td>
        <td>Formación humana y social</td>
        <td>16:00 - 20:00</td>
        <td>20</td>
      </tr>

      <tr>
        <td>HTML</td>
        <td>Introducción a la programación</td>
        <td>16:00 - 20:00</td>
        <td>20</td>
      </tr>

      <tr>
        <td>Dreamweaver</td>
        <td>Introducción a las matemáticas</td>
        <td>16:00 - 20:00</td>
        <td>20</td>
      </tr>


    </table>
  </div>
</div>